@font-face {
    font-family: 'Neue Montreal';
    src: url('assets/fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('assets/fonts/NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueBit';
    src: url('assets/fonts/NeueBit-Bold.woff2') format('woff2'),
        url('assets/fonts/NeueBit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
h1{
    font-family: 'NeueBit';
    font-weight: bold;
    font-style: normal;
    font-size: 137px;
    width: 720px;
    margin: 0 0 0 190px;
}
h2{
    font-family: 'NeueBit';
    font-weight: bold;
    font-style: normal;
    font-size: 27px;
    text-align: right;
    margin: 37px 37px 0 0;
}
h3{
    font-family: 'NeueBit';
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    margin: 0 0 0 190px;
}
img{
    width: 776px;
    margin: 0 37px 0 470px; 
}