@font-face {
    font-family: 'Neue Montreal';
    src: url('ikrivanova/fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('ikrivanova/fonts/NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueBit';
    src: url('ikrivanova/fonts/NeueBit-Bold.woff2') format('woff2'),
        url('ikrivanova/fonts/NeueBit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
h1{
    font-family: 'NeueBit';
    font-weight: bold;
    font-style: normal;
    font-size: 171px;
    width: 720px;
    margin: 77px 0 0 190px;
}
h2 {
    font-family: 'NeueBit';
    font-weight: bold;
    font-style: normal;
    font-size: 27px;
    text-align: right;
    margin: 37px 37px 0 0;
}
h3{
    font-family: 'NeueBit';
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    margin: 0 0 0 190px;
    padding: 0 0 7px;
}
img{
    width: 776px;
    margin: 0 37px 0 470px; 
    padding: 0 0 0 0;
}
.left {
    text-align: left;
    margin: 0 0 0 190px;
}
div{
    position: absolute;
    width: 145px;
    height: 667px;
    right: 0px;
    top: 0px;
    background-color: #C32C68;
    z-index: -1;
}

.p + .p{
    position: relative;
    left: 15px;

}
.h4 + .h4{
    position: relative;
    left: 90px;
}

h4{
    font-family: 'NeueBit';
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    margin: 7px 0 0 190px;
    display: inline-flex;
}
p{
    font-family: 'Neue Montreal';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    width: 200px;
    margin: 27px 0 0 190px;
    display: inline-flex;
}
.projects{
    display: inline-flex;
    position: relative;
    right: 90px;
}

.title{
    font-family: 'NeueBit';
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    padding-top: 3px;
    margin-top: 0;
} 

.date{
    font-family: 'NeueBit';
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}
.description{
    font-family: 'Neue Montreal';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    width: 200px;
}

.ul+.ul{
    margin: 0 0 45px 45px;
}
